.allCart{
    margin-top:8%;
    margin-bottom: 3%;
}
.tables{
    width: 85%;
    margin:auto;
}
.titleH1 > h1{
    border-radius: 20px;
    text-align:center;
    font-style: italic;
    font-size:25px;
    padding: 5px;
    background-color: black;
    color: white;
    width: 20%;
    margin: auto;
    margin-bottom: 1.5% !important;
}
.firtTd{
   padding: 5px;
   width: 9% !important;
}
.firtsTr th{
    padding: 10px;
}
.imgProduct{
    padding:5px;
    width: 100%;
    margin: auto;
}
.imgProduct > img{
    width: 100%;
    border-radius: 5px;
}
.titles > h4{
    text-align:left;
    font-size: 14px;
    font-weight: bold;
}
.titles > h5{
    text-align:left;
    font-size: 12px;
    font-weight: bold;
}
.remote {
    color: red;
    font-size: 12px !important;
    margin-top: 1%;
    font-weight: bold !important;
    border: 1px solid #E6E6FA;
    width: 20%;
    text-align: center !important;
    padding:2px;
}
.remote:hover{
    color: #CC0000;
    background-color: #F8F8FF;
}
.tr{
    overflow: hidden;
}
.tr > td{
    width:20%;
    text-align: center;
}
.tables th {
    text-align:center;
}
.tables tr:first-child{
    border-top:none;
}
.tables tr{
    border-top: 1px solid #D3D3D3;
}
.tables tr:last-child{
    border-bottom: 1px solid #D3D3D3;
}
.quantity{
    border: 1px solid #E6E6FA;
    margin:auto;
    width: 35%;
    padding: 2px;
}
.quantity > input{
    width:35%;
    text-align: center;
    border: none;
}
.quantity > button{
    background-color:white;
    border:none;
}

.bottomCart > div{
    width: 20%;
    margin-left: auto;
    margin-top: 2% !important;
}

.total > h3{
    font-size:17px;
    font-weight: bold;
}
.total > h3 > span{
    font-size:22px;
    padding-left: 5px;
    color: #CD0000;
}
.checkButton{
    margin-top:15px;
}
.buttonFirst{
    background-color:white;
    color: black;
    padding: 3px 5px;
    font-weight: 500;
}

.buttonFirst:hover{
    color: #CC0000;
    background-color: #F8F8FF;
}

.buttonSecond{
    background-color:black;
    color:white;
    padding: 3px 10px;
    margin-left: 2%;
}

.sub, .price {
    font-weight: 500;
}

.allEmpty {
    margin-top:7% !important;
    padding:30px;
    margin-bottom: 6.5%;
}

.emptyDiv {
    align-items: center;
    text-align: center;
    width:40%;
    margin: auto;
    padding: 20px;
}
.mainImg{
    width:40%;
    margin: auto;
}
.emptyDiv img{
    width: 100%;
}

.titleEmpty {
    font-size:18px;
}

.button button {
    background-color:black;
    color:white;
    font-weight:500;
    border: 1px solid black;
    padding:5px 15px;
    border-radius: 5px;
}
.button button:hover{
    opacity: 0.8;
}

.linkSeconnd > button{
    margin-top: 5px;
    margin-left: 0px;
    background-color:white;
    color:black;
    font-weight:500;
    transition: 0.3s;
}
.linkSeconnd > button:hover{
    color: white;
    background-color: black;
}